name: Run tests

on:
  pull_request:
    types:
      - opened
  push:
    branches:
      - main
    paths:
      - ".github/workflows/tests.yml"
      - "bun.lock"
      - "packages/**"
      - "!packages/**/README.md"

env:
  HUSKY: 0

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node-version: [20, 22, 24]

    name: NodeJS ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test
