name: Run tests

on:
  pull_request:
    types:
      - opened
  push:
    branches:
      - main
    paths:
      - ".github/workflows/tests.yml"
      - "bun.lock"
      - "packages/**"
      - "!packages/**/README.md"

env:
  HUSKY: 0

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    name: NodeJS ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Running tests
        run: bun run test
